<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/blog/layout/layout :: main-fragment(~{:: #css}, ~{:: .wrapper}, ~{:: #javascript})}">

<head>
    <!-- Ionicons -->

    <th:block id="css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/dist/css/style.css}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <style>
            .modal-dialog {
                max-width: 1000px;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }

            .image-item {
                height: 150px;
                border: 2px solid #eee;
            }

            .image-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image-item.selected {
                border-color: #28a145 !important;
                border-width: 4px !important;
            }

        </style>

    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Blog</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${blog.title}">
                                Blog title
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btnUpdate">
                            Lưu
                        </button>
                        <button type="button" class="btn btn-primary px-4">
                            Preview
                        </button>
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4" id="btnDelete">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title"
                                                   th:value="${blog.title}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea id="content" th:text="${blog.content}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3"
                                                      th:text="${blog.description}"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control" th:field="${blog.status}">
                                                <option value="false">
                                                    Nháp
                                                </option>
                                                <option value="true">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Danh mục</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple"
                                                        id="category">
                                                    <option th:each="category : ${categoryList}"
                                                            th:value="${category.id}" th:text="${category.name}">
                                                        Java
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="thumbnail-preview-container mb-3">
                                                <img src="" alt="" id="thumbnail"/>
                                            </div>
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-xl" id="btn-modal-image">
                                                Chọn hình ảnh
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-xl" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Danh sách ảnh</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                                <label for="avatar" class="btn btn-warning mb-0">Upload ảnh</label>
                                <input type="file" id="avatar" class="d-none">
                            </div>
                            <div>
                                <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                            </div>
                        </div>
                        <!-- Hiển thị danh sách ảnh -->
                        <div class="image-container mt-4 mb-4">
                            <div class="image-item ">
                                <img src="https://images.unsplash.com/photo-1656918931725-2f9d9fce4acb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                                     alt="">
                            </div>
                        </div>

                        <!-- Hiển thị phần phân trang -->
                        <div class="pagination-container d-flex justify-content-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block id="javascript">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script th:src="@{/js/blog-detail.js}"></script>

    <script th:inline="javascript">
        const blog = /*[[${blog}]]*/;

    </script>

    <script>
        //Initialize Select2 Elements
        $(".select2").select2();

        // Initialize editor
        const easyMDE = new EasyMDE({
            element: document.getElementById("content"),
            spellChecker: false,
            maxHeight: "500px",
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
        });

        const titleEl = document.getElementById("title")
        const statusEl = document.getElementById("status")
        const descriptionEl = document.getElementById("description")
        const categoryEl = $("#category");
        const thumbnailEl = document.getElementById("thumbnail")
        const btnUpdate = document.getElementById("btnUpdate")


        // Initialize data
        const initData = (data) => {
            titleEl.value = data.title;
            easyMDE.value(data.content);
            descriptionEl.value = data.description;
            statusEl.value = data.status ? "true" : "false";
            categoryEl.val(data.categories.map(c => `${c.id}`)).trigger("change");
            thumbnailEl.src = data.thumbnail ? data.thumbnail : "https://placehold.co/600x400";
        };
        initData(blog);

        btnUpdate.addEventListener("click", async () => {
            try {
                // lấy dữ liệu
                const title = titleEl.value;
                const content = easyMDE.value();
                const description = descriptionEl.value;
                const status = statusEl.value;
                const categoryIds = categoryEl.val();
                const thumbnail = thumbnailEl.src;

                const request = {
                    title,
                    content,
                    description,
                    status: status === "true" ? true : false,
                    categoryIds: categoryIds.map(id => parseInt(id)),
                    thumbnail: thumbnail === "https://placehold.co/600x400" ? null : thumbnail
                }

                // gọi API
                const dataJson = await fetch("/api/v1/admin/blogs/" + blog.id, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(request, blog.id)
                })
                const data = await dataJson.json();
                toastr.success("Cập nhật bài viết thành công")
                setTimeout(() => {
                    window.location.href = `/admin/blogs/${data.id}/detail`;
                }, 1500)

            } catch (error) {
                console.log(error);
            }
        })


        const btnDelete = document.getElementById("btnDelete");
        btnDelete.addEventListener("click", () => {
            let confirm = window.confirm("Xác nhận xoá bài viết?");

            if (confirm) {
                try {
                    fetch("/api/v1/admin/blogs/" + blog.id, {
                        method: "DELETE"
                    })


                    toastr.success("Xoá bài viết thành công")
                    setTimeout(() => {
                        window.location.href = `/admin/blogs/index`;
                    }, 1500)

                } catch (err) {
                    console.log(err);
                }
            }
        })


    </script>
</th:block>
</body>

</html>