<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home page</h1>

<th:block sec:authorize="not isAuthenticated()">
    <a th:href="@{/login}">
        <button>Đăng nhập</button>
    </a>
</th:block>

<th:block sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="POST">
        <button>Đăng xuất</button>
    </form>

    <h2>Hello : <span th:text="${#authentication.name}"></span></h2>

    <ul>
        <li sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
            <a th:href="@{/profile}">Profile Page</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/templates/admin}">Admin Page</a>
        </li>
        <li sec:authorize="hasRole('STAFF')">
            <a th:href="@{/author}">Author Page</a>
        </li>
    </ul>
</th:block>


</body>
</html>