<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{adm/fragments/layout :: main-fragment(~{:: #css}, ~{:: .wrapper}, ~{:: #javascript})}">


<head>
    <!-- Ionicons -->
    <th:block id="css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <style>
            .modal-dialog {
                max-width: 1000px;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }

            .image-item {
                height: 150px;
                border: 2px solid #eee;
            }

            .image-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image-item.selected {
                border-color: #28a145 !important;
                border-width: 4px !important;
            }

        </style>

    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/admin/hotels/hotel-list">Hotels</a>
                                </li>
                                <li class="breadcrumb-item active" th:text="${hotel.name}">
                                    Hotel Detail
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row py-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-default reset">
                                <i class="fas fa-chevron-left"></i> Reset
                            </button>
                            <button type="button" class="btn btn-info px-4" id="btnUpdate">
                                Save
                            </button>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger px-4" id="btnDelete">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body row">
                        <div class="col-5 text-center d-flex align-items-center justify-content-center">
                            <div class="col-5 col-12 user-img">
                                <style>
                                    #img-review{
                                        max-width: 300px;
                                        object-fit: contain;
                                    }
                                </style>
                                <img style="width: 300px;" width="300" height="300" th:if="${hotel.image}" id="img-review" th:src="@{'/api/v1/files/' + ${user.id}}" class="img-responsive" alt="user-img" />
                                <img th:unless="${hotel.image}" id="img-review" src="/images/user-profile.jpg" class="img-responsive" alt="user-img" />
                                <br>
                                <button class="btn btn-info" id="btn-upload">Change avatar</button>
                                <div hidden ><input id="file-img" type="file" multiple></div>
                                <span hidden id="id" th:text="${hotel.id}"></span>
                            </div>
                        </div>
                        <div class="col-7 form-info-hotel">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" th:value="${hotel.name}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" id="city" th:value="${hotel.city}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="district">District</label>
                                <input type="text" id="district" th:value="${hotel.district}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" id="address" th:value="${hotel.address}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" id="description" th:text="${hotel.description}" class="form-control"  rows="3">

                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-6">
                            <h4>  Room Type List </h4>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary btn-add-ỉn-room-type" data-toggle="modal" data-target="#add-type-room">
                                ADD
                            </button>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Room Number</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="table-room-type">
                                <tr class="info-type-room"  th:each="hotelRoomType: ${hotelRoomTypeList}">
                                    <td class="id" th:text="${hotelRoomType.roomType.id}">1</td>
                                    <td class="name" th:text="${hotelRoomType.roomType.name}">Call of Duty</td>
                                    <td class="price" th:text="${hotelRoomType.roomType.price}">455-981-221</td>
                                    <td class="roomNumber" th:text="${hotelRoomType.totalRoomNumber}">455-981-221</td>
                                    <td>
                                        <a th:href="@{/admin/room-types/{id}/detail (id=${hotelRoomType.roomType.id})}">
                                            <button type="button" class="btn btn-info px-4">Detail </button>
                                        </a>
                                        <button th:data-id="${hotelRoomType.roomType.id}" onclick="deleteTypeRoom(this)" type="button" class="btn btn-danger px-4 btn-dl-type-room">Delete </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-6">
                            <h4>Staff List</h4>
                        </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-info px-4">
                            Add
                        </button>
                    </div>


                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr  th:each="user: ${staffList}">
                                    <td th:text="${user.id}">1</td>
                                    <td th:text="${user.name}">Call of Duty</td>
                                    <td th:text="${user.email}">Call of Duty</td>
                                    <td th:text="${user.phone}">455-981-221</td>
                                    <td>
                                        <a th:href="@{/admin/users/{id}/detail (id=${user.id})}">
                                            <button type="button" class="btn btn-info px-4">Detail </button>
                                        </a>
                                        <button type="button" class="btn btn-danger px-4">Delete </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="add-type-room" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="data" hidden th:attr="data-list=${hotelRoomTypeList}"></div>
                                <div class="row">
                                    <div class="col-12 table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Room Number</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody-add-type-room" >
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="addListRoom" type="button" class="btn btn-primary">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
<th:block id="javascript">
    <script src="/adm/js/handlerResetandBack.js"></script>
    <script src="/adm/js/addRoomTypeForHotel.js"></script>
</th:block>
</body>
</html>