<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{adm/fragments/layout :: main-fragment(~{:: #css}, ~{:: .wrapper}, ~{:: #javascript})}">


<head>
  <!-- Ionicons -->
  <th:block id="css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                Hotel List
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row py-2">
          <div class="col-12">
            <button type="button" class="btn btn-primary" id="btnCreate">
              <i class="fas fa-plus"></i> Create new hotel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Hotel name</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Action</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>



                  <th:block th:with="hotelList = ${page.getContent()}">
                    <tr th:each="hotel: ${hotelList}">
                      <td th:text="${hotel.id}">
                        <a>STT</a>
                      </td>
                      <td th:text="${hotel.name}">
                        <a>Name</a>
                      </td>
                      <td th:text="${hotel.city}">
                        <a>City</a>
                      </td>
                      <td th:text="${hotel.address}">
                        <a>Address</a>
                      </td>

                      <td>
                          <span>
                              <a th:href="@{/admin/hotels/{id}/detail (id=${hotel.id})}">
                              <button type="button"
                                      class="btn btn-info px-4"> Detail  </button>
                              </a>
                              <button type="button"
                                      class="btn btn-danger"> Delete  </button>
                          </span>
                      </td>
                    </tr>
                  </th:block>
                  </tbody>
                </table>


                <div class="d-flex justify-content-center mt-3" id="pagination">
                  <ul class="pagination mb-0">

                    <li class="paginate_button page-item previous"
                        th:classappend="${currentPage == 0 ? 'disabled' : ''}"
                        id="example2_previous">
                      <a th:href="@{/admin/hotels/my-hotels?page={pageNumber} (pageNumber= ${currentPage - 1})}"
                         aria-controls="example2" data-dt-idx="0" tabindex="0"
                         class="page-link">Previous</a>
                    </li>


                    <th:block
                            th:with="numbers = ${T(com.example.demo.ultils.Utils).createList(page.getTotalPages())}">
                      <li th:each="number: ${numbers}" class="paginate_button page-item"
                          th:classappend="${number == currentPage + 1 ? 'active' : ''}">
                        <a th:href="@{/admin/hotels/my-hotels?page={pageNumber} (pageNumber=${number}-1) }"
                           aria-controls="example2" data-dt-idx="1" tabindex="0"
                           class="page-link" th:text="${number}"> </a>
                      </li>
                    </th:block>


                    <li class="paginate_button page-item next" id="example2_next"
                        th:classappend="${currentPage == page.getTotalPages() -1 ? 'disabled' : ''}">
                      <a th:href="@{/admin/hotels/my-hotels?page={pageNumber} (pageNumber= ${currentPage + 1})}"
                         aria-controls="example2" data-dt-idx="7" tabindex="0"
                         class="page-link">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<th:block id="javascript">



</th:block>
</body>

</html>