<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Quên mật khẩu?</h2>

<label>Email</label>
<input type="text" id="email"> <br><br>
<button id="btn">Gửi</button>


<script>
    const emailEl = document.getElementById("email");
    const btn = document.getElementById("btn");

    btn.addEventListener("click", async () => {
        const email = emailEl.value;
        try {
            const data = await fetch(`/api/v1/auth/forgot-password?email=${email}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            if (data.status === 200) {
                alert("Check email");
            }
        } catch (e) {
            console.log(e)
        }
    })
</script>


</body>
</html>