<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${not isValid}">
    <h2>Token is not valid</h2>
</th:block>

<th:block th:if="${isValid}">
    <h2>Reset password</h2>


    <label>Email</label>
    <input type="text" id="email" th:value="${email}" th:readonly="readonly">  <br>

    <label>New Password</label>
    <input type="password" id="password">  <br>

    <label>Confirm Password</label>
    <input type="password" id="confirm-password">  <br>

    <button id="btn">Reset Password</button>
</th:block>


<script>
    const newPw = document.getElementById("password");
    const confirmPw = document.getElementById("confirm-password");
    const email = document.getElementById("email").value;

    btn.addEventListener("click", async () => {
        if (newPw.value !== confirmPw.value){
            window.alert("Password and confirm password does not match");
            return;
        }

        if (newPw.value.trim() === ""){
            window.alert("Please enter the new password");
            return;
        }

        try {
            const data = await fetch(`/api/v1/auth/update-password?email=${email}`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "text/plain"
                },
                body: newPw.value
            })

            if (data.status === 200) {
                alert("Update successfully");
                window.location.href = "/login"
            }
        } catch (e) {
            console.log(e)
        }
    })
</script>
</body>
</html>