<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: main-fragment(~{:: #css}, ~{:: .wrapper}, ~{:: #javascript})}">

<head>
    <title>User profile</title>
</head>
<body>
    <div class="wrapper">
    <!--========== PAGE-COVER =========-->
    <section class="page-cover dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-title">My Account</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">My Account</li>
                    </ul>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end page-cover -->
    <!--===== INNERPAGE-WRAPPER ====-->
    <section class="innerpage-wrapper">
        <div id="dashboard" class="innerpage-section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="dashboard-heading">
                            <h2>Travel <span>Profile</span></h2>
                            <p>Hi Lisa, Welcome to Star Travels!</p>
                            <p>All your trips booked with us will appear here and you'll be able to manage everything!</p>
                        </div><!-- end dashboard-heading -->

                        <div class="dashboard-wrapper">
                            <div class="row">

                                <div class="col-xs-12 col-sm-2 col-md-2 dashboard-nav">
                                    <ul class="nav nav-tabs nav-stacked text-center">
                                        <li><a href="dashboard.html"><span><i class="fa fa-cogs"></i></span>Dashboard</a></li>
                                        <li ><a href="/user/profile"><span><i class="fa fa-user"></i></span>Profile</a></li>
                                        <li><a href="booking.html"><span><i class="fa fa-briefcase"></i></span>Booking</a></li>
                                        <li class="active"><a href="/pet/list-pets"><span><i class="fa fa-heart"></i></span>ListPets</a></li>
                                        <li><a href="cards.html"><span><i class="fa fa-credit-card"></i></span>My Cards</a></li>
                                    </ul>
                                </div><!-- end columns -->

                                <div class="col-xs-12 col-sm-10 col-md-10 dashboard-content user-profile">
                                    <h2 class="dash-content-title">My Profile</h2>
                                    <div th:if="${listPets}" th:each="pet : ${listPets}" class="panel panel-default">
                                        <div class="panel-heading"><h4>Profile Details</h4></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-5 col-md-4 user-img">
                                                    <img th:if="${pet.image}" th:src="@{'http://localhost:8080/api/v1/files/' +${pet.image.id}}" class="img-responsive" alt="user-img" />
                                                    <img th:unless="${pet.image}" src="/images/user-profile.jpg" class="img-responsive" alt="user-img" />
                                                    <button th:data-id="${pet.id}" class="btn btn-upload" data-toggle="modal">Upload</button>
                                                    <div class="mb-3" hidden>
                                                        <input hidden class="form-control file" type="file" id="formFileMultiple" multiple>
                                                    </div>
                                                </div><!-- end columns -->

                                                <div class="col-sm-7 col-md-8  user-detail">
                                                    <ul class="list-unstyled">
                                                        <li><span>Name:</span> <p class="name" th:text = "${pet.name}" ></p></li>
                                                        <li><span>Breed:</span><p class="breed" th:text = "${pet.breed}" ></p></li>
                                                        <li><span>Type:</span><p class="type" th:text = "${pet.type}" ></p></li>
                                                        <li><span>Color:</span> <p class="color" th:text = "${pet.color}"></p></li>
                                                        <li><span>Sex:</span> <p class="sex" th:text = "${pet.sex}"></p></li>
                                                    </ul>
                                                    <button class="btn btn-edit" th:data-id="${pet.id}" data-toggle="modal" data-target="#edit-profile">Edit Profile</button>
                                                </div><!-- end columns -->
                                            </div><!-- end row -->

                                        </div><!-- end panel-body -->
                                    </div><!-- end panel-detault -->
                                    <div th:unless="${listPets}">Pet rỗng</div>
                                </div><!-- end columns -->

                            </div><!-- end row -->
                        </div><!-- end dashboard-wrapper -->
                    <div class="col-sm-12">
                    	<h1 class="page-title">My Account</h1>
                        <ul class="breadcrumb">
                            <li><a href="/user/update-password">ĐẶT LẠI MẬT KHẨU</a></li>
                            <li class="active">My Account</li>
                        </ul>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end dashboard -->
    </section><!-- end innerpage-wrapper -->
    <!--========================= NEWSLETTER-1 ==========================-->
    <section id="newsletter-1" class="section-padding back-size newsletter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2>Subscribe Our Newsletter</h2>
                    <p>Subscibe to receive our interesting updates</p>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control input-lg" placeholder="Enter your email address" required/>
                                <span class="input-group-btn"><button class="btn btn-lg"><i class="fa fa-envelope"></i></button></span>
                            </div>
                        </div>
                    </form>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end newsletter-1 -->

    <div id="edit-profile" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit Pet Profile</h3>
                </div><!-- end modal-header -->

                <div class="modal-body">
                    <form id="updateInfo">
                        <span style="color: darkred; padding: 12px 0; display: inline-block" id="mess"></span>
                        <div class="form-group">
                            <label>Name</label>
                            <input id="name" type="text" class="form-control" placeholder="Name"/>
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <label>Breed</label>
                            <input id="breed" type="text" class="form-control" placeholder="Breed"/>
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <label>Type</label>
                            <input id="type" type="text" class="form-control" placeholder="Type" />
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <label>Color</label>
                            <input id="color" type="text" class="form-control" placeholder="Color" />
                        </div><!-- end form-group -->

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" value="MALE" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                MALE
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" value="FEMALE" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                FEMALE
                            </label>
                        </div>
                        <span hidden id ="id"></span>
                        <button class="btn btn-orange">Save Changes</button>
                    </form>
                </div><!-- end modal-bpdy -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end edit-profile -->
    </div>
    <th:block id="javascript">
        <script src ="/js/updateInfoPet.js"></script>
    </th:block>
</body>
</html>
